<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
</head>
<body>
    <nav id="menu">
        <a href="http://localhost:3000">Página Inicial</a>
        <a href="http://localhost:3000/formulario">Cadastro</a>
        <a href="http://localhost:3000/emails">Usuários</a>
    </nav>
    <br>

    <h1>Emails Cadastrados</h1>

    <ul>
        <% emails.forEach(email => { %>
            <li>
                <span>Nome: <%= email.userName  %></span> <br> 
                <span>Email: <%= email.email  %></span>
            </li>
            
            <form action="/emails/delete" method="post">
                <input type="hidden" name="name" value="<%= email.userName %>">   
                <input type="hidden" name="email" value="<%= email.email %>">   
                <button type="submit">Remover</button>
            </form>
            <br>
        <% }) %>
    </ul>
</body>
</html>