<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>

    <nav id="menu">
        <a href="http://localhost:3000">Página Inicial</a>
        <a href="http://localhost:3000/formulario">Cadastro</a>
        <a href="http://localhost:3000/emails">Usuários</a>
    </nav>
    <br>
    <form id="form" action="/save" method="POST">
        <label class="labels" for="name">Nome:</label>
        <input class="inputs" type="text" name="name" id="name">

        <label class="labels" for="email">Email:</label>
        <input class="inputs" type="email" name="email" id="email">

        <button id="btn-save" type="submit">Salvar</button>
    </form>
</body>
</html>