<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1 id="title">Bem vindo à página de Cadastro de Emails</h1>

    <nav id="menu">
        <a href="http://localhost:3000">Página Inicial</a>
        <a href="http://localhost:3000/formulario">Cadastro</a>
        <a href="http://localhost:3000/emails">Usuários</a>
    </nav>
    
</body>
</html>