<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
</head>
<body>
    <h1>Usuário Cadastrado com Sucesso</h1>
    <br>
    <nav id="menu">
        <a href="http://localhost:3000">Página Inicial</a>
        <a href="http://localhost:3000/formulario">Cadastro</a>
        <a href="http://localhost:3000/emails">Usuários</a>
    </nav>
</body>
</html>